### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn import preprocessing
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, PowerTransformer, FunctionTransformer
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

### Loading dataframe

In [2]:
df = pd.read_csv(r'../data/CO2 Emissions_Canada.csv')

In [3]:
#Assigning object type to Cylinders column
df['Cylinders'] = df['Cylinders'].astype('O')

In [4]:
# Dropping unnecessary columns
df.drop(['Fuel Consumption Comb (L/100 km)', 'Model'], axis = 1, inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Make                              7385 non-null   object
 1   Vehicle Class                     7385 non-null   object
 2   Engine Size(L)                    7385 non-null   float64
 3   Cylinders                         7385 non-null   object
 4   Transmission                      7385 non-null   object
 5   Fuel Type                         7385 non-null   object
 6   Fuel Consumption City (L/100 km)  7385 non-null   float64
 7   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 8   Fuel Consumption Comb (mpg)       7385 non-null   int64
 9   CO2 Emissions(g/km)               7385 non-null   int64
dtypes: float64(3), int64(2), object(5)
memory usage: 577.1+ KB

In [6]:
#Getting the numerical, categorical and target columns
cat_cols = ['Make', 'Vehicle Class', 'Cylinders', 'Transmission', 'Fuel Type']
quan_cols = ['Engine Size(L)', 'Fuel Consumption City (L/100 km)', 'Fuel Consumption Hwy (L/100 km)', 'Fuel Consumption Comb (mpg)']
target = ['CO2 Emissions(g/km)']

#### Getting all categories in categorical columns

In [7]:
df_cat = df[cat_cols]

In [8]:
pre_ohe = OneHotEncoder(handle_unknown='ignore')

In [9]:
pre_ohe.fit(df_cat)

OneHotEncoder(handle_unknown='ignore')

In [10]:
#Use for encoder in pipeline
cat_col_categories = list(pre_ohe.categories_)

#### Train test split

In [11]:
X = df.drop(target, axis = 1)
y = df[target]

In [12]:
X

,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (mpg)
0,ACURA,COMPACT,2.0,4,AS5,Z,9.9,6.7,33
1,ACURA,COMPACT,2.4,4,M6,Z,11.2,7.7,29
2,ACURA,COMPACT,1.5,4,AV7,Z,6.0,5.8,48
3,ACURA,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,25
4,ACURA,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,27
...,...,...,...,...,...,...,...,...,...
7380,VOLVO,SUV - SMALL,2.0,4,AS8,Z,10.7,7.7,30
7381,VOLVO,SUV - SMALL,2.0,4,AS8,Z,11.2,8.3,29
7382,VOLVO,SUV - SMALL,2.0,4,AS8,Z,11.7,8.6,27
7383,VOLVO,SUV - STANDARD,2.0,4,AS8,Z,11.2,8.3,29
7384,VOLVO,SUV - STANDARD,2.0,4,AS8,Z,12.2,8.7,26

In [13]:
y

      CO2 Emissions(g/km)
0                     196
1                     221
2                     136
3                     255
4                     244
...                   ...
7380                  219
7381                  232
7382                  240
7383                  232
7384                  248

[7385 rows x 1 columns]

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, random_state=0, test_size = 0.1)

In [15]:
X_train

,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (mpg)
479,GMC,SUV - STANDARD,5.3,8,A6,X,16.0,11.1,20
3648,FORD,SUV - STANDARD,3.5,6,AS6,E,18.7,12.9,18
4751,FORD,PICKUP TRUCK - STANDARD,5.0,8,AS10,X,14.6,10.9,22
6224,MERCEDES-BENZ,TWO-SEATER,2.0,4,A9,Z,10.0,7.3,32
7327,TOYOTA,COMPACT,1.8,4,AV,X,7.9,6.1,40
...,...,...,...,...,...,...,...,...,...
4931,JAGUAR,SUV - SMALL,2.0,4,AS8,Z,10.7,8.8,29
3264,VOLKSWAGEN,COMPACT,1.8,4,AS6,X,9.3,6.5,35
1653,JAGUAR,FULL-SIZE,5.0,8,AS8,E,20.6,13.6,16
2607,FORD,SUV - STANDARD,3.5,6,AS6,X,14.7,10.7,22
2732,HYUNDAI,MID-SIZE,2.0,4,M6,X,9.8,7.1,33

In [16]:
X_test

,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (mpg)
6307,PORSCHE,MINICOMPACT,3.0,6,M7,Z,12.0,8.2,27
5036,LAND ROVER,SUV - SMALL,2.0,4,AS8,D,9.2,7.8,33
1995,PORSCHE,MINICOMPACT,3.8,6,AM7,Z,12.5,9.0,26
4156,NISSAN,MID-SIZE,2.5,4,AV7,X,8.8,6.5,36
6328,PORSCHE,MINICOMPACT,3.0,6,AM7,Z,11.0,8.5,29
...,...,...,...,...,...,...,...,...,...
4340,VOLKSWAGEN,COMPACT,1.8,4,AM6,X,9.4,6.8,34
3891,JEEP,SUV - SMALL,2.0,4,M5,X,10.3,7.9,30
667,LEXUS,COMPACT,2.5,6,AS6,Z,11.8,8.7,27
1859,MERCEDES-BENZ,SUV - STANDARD,5.5,8,AS7,Z,18.2,14.0,17
5255,NISSAN,PICKUP TRUCK - STANDARD,5.6,8,AS7,X,15.0,11.2,21

#### Building pipeline

In [17]:
quan_pipeline = Pipeline([
    ('std_scaler', PowerTransformer())
])

quan_transformed = quan_pipeline.fit_transform(X_train[quan_cols])
quan_transformed

array([[ 1.42722056,  1.01454396,  1.00757343, -1.10512068],
       [ 0.47704091,  1.60834384,  1.57584459, -1.50869801],
       [ 1.2985109 ,  0.67179427,  0.93622792, -0.73839573],
       ...,
       [ 1.2985109 ,  1.98308863,  1.7667108 , -1.95735443],
       [ 0.47704091,  0.69719059,  0.86297981, -0.73839573],
       [-0.88492844, -0.76647857, -0.91204201,  0.83606729]])

In [18]:
cat_pipeline = Pipeline([
    ('one_hot_encoder', OneHotEncoder(handle_unknown = 'ignore', categories=cat_col_categories))
])

cat_transformed = cat_pipeline.fit_transform(X_train[cat_cols])
cat_transformed.toarray()

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [19]:
data_pipeline = ColumnTransformer([
    ('numerical', quan_pipeline, quan_cols),
    ('categorical', cat_pipeline, cat_cols)
    
])

train_data_processed = data_pipeline.fit_transform(X_train)
train_data_processed.toarray()[0]

array([ 1.42722056,  1.01454396,  1.00757343, -1.10512068,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        1.        ,  0.        ])

In [20]:
model_pipeline = Pipeline([
    ('scaling', data_pipeline),
    ('model', LGBMRegressor(random_state=0))
])

In [21]:
Y_train.values.reshape(-1,)

array([317, 264, 304, ..., 280, 303, 202])

In [22]:
model_pipeline.fit(X_train, Y_train.values.reshape(-1, ))

Pipeline(steps=[('scaling',
                 ColumnTransformer(transformers=[('numerical',
                                                  Pipeline(steps=[('std_scaler',
                                                                   PowerTransformer())]),
                                                  ['Engine Size(L)',
                                                   'Fuel Consumption City '
                                                   '(L/100 km)',
                                                   'Fuel Consumption Hwy '
                                                   '(L/100 km)',
                                                   'Fuel Consumption Comb '
                                                   '(mpg)']),
                                                 ('categorical',
                                                  Pipeline(steps=[('one_hot_encoder',
                                                                   OneHotEncoder(categories=[array(['ACURA', 'ALFA ROMEO', 'ASTON MART...
                                                                                             array(['A10', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'AM5', 'AM6', 'AM7',
       'AM8', 'AM9', 'AS10', 'AS4', 'AS5', 'AS6', 'AS7', 'AS8', 'AS9',
       'AV', 'AV10', 'AV6', 'AV7', 'AV8', 'M5', 'M6', 'M7'], dtype=object),
                                                                                             array(['D', 'E', 'N', 'X', 'Z'], dtype=object)],
                                                                                 handle_unknown='ignore'))]),
                                                  ['Make', 'Vehicle Class',
                                                   'Cylinders', 'Transmission',
                                                   'Fuel Type'])])),
                ('model', LGBMRegressor(random_state=0))])

In [23]:
pred = model_pipeline.predict(X_test)

In [24]:
pred

array([241.02303467, 222.53264636, 253.03544837, 183.40088277,
       229.02452974, 199.03443501, 298.66677647, 274.41133631,
       200.62780037, 277.67415548, 253.72451169, 252.66621125,
       194.33930405, 317.37928841, 256.34184789, 240.33381734,
       329.5342547 , 277.26473101, 242.70593067, 218.7728639 ,
       245.91756505, 199.37133038, 362.00894763, 274.19467224,
       235.2956961 , 276.27087669, 179.62879611, 397.46600574,
       243.78964137, 233.04088884, 183.11517232, 242.13001881,
       318.20434778, 242.49124241, 305.03993146, 236.28515767,
       263.78505433, 372.84000389, 366.93573216, 243.77203146,
       268.15556519, 259.48079989, 326.35411022, 277.10777875,
       275.19809126, 219.51456859, 262.94604035, 294.62547392,
       245.52752107, 265.0834101 , 251.83405577, 235.17800507,
       232.1484803 , 283.86203792, 342.48446501, 212.09203624,
       254.09980661, 326.46407345, 288.27217598, 211.63324354,
       313.05336799, 254.65487354, 259.98571958, 168.31960189,
       235.04439268, 289.21081908, 226.35633444, 180.80228742,
       226.06960505, 188.28836023, 224.20277797, 340.77046681,
       342.63413489, 232.72774509, 194.73373977, 181.86416936,
       182.42628377, 265.50197662, 235.25804412, 282.03172779,
       192.97059433, 236.26871372, 244.92807846, 286.71649857,
       243.91003045, 342.01014432, 217.99098811, 237.0828963 ,
       158.38897328, 120.96674598, 210.19042141, 338.91633574,
       251.96983311, 194.7739537 , 352.78913615, 298.83089594,
       379.05707664, 284.66160414, 168.39856872, 213.81697549,
       295.20931956, 184.06555763, 204.65436654, 254.34769702,
       219.67006326, 217.47358823, 290.75748224, 283.06860156,
       265.29268555, 199.27393741, 241.60631502, 199.90100996,
       242.40986749, 234.15914088, 259.6463611 , 256.35747554,
       236.29658046, 225.96166124, 253.68336618, 173.98105692,
       222.13576442, 262.70225099, 245.76805294, 210.84095532,
       240.61739535, 297.37362009, 173.61257873, 316.7798423 ,
       192.96613827, 340.89311362, 241.13957967, 292.99152824,
       379.75763334, 397.48072942, 228.36587011, 272.36361794,
       285.36401656, 242.84988106, 344.06920153, 404.77192837,
       265.96162692, 227.30622831, 251.60538029, 159.46902309,
       237.9355622 , 225.03625633, 289.61442851, 411.36043872,
       219.94625856, 358.68702779, 175.45237576, 253.69086271,
       292.87616014, 243.89551643, 178.15457284, 246.14849236,
       235.20900688, 302.28319735, 226.58411928, 253.66081023,
       226.12583207, 205.60340665, 204.94165614, 211.55362471,
       243.26929557, 228.07155517, 235.2956961 , 217.39764754,
       296.24068096, 152.61713163, 235.04439268, 325.18003017,
       294.17238184, 134.94445343, 212.72151365, 259.23983128,
       203.024746  , 283.69435489, 253.69086271, 205.22812264,
       303.6512558 , 226.67258949, 377.70387681, 296.61273775,
       217.39764754, 235.59262747, 250.97296703, 241.09868917,
       234.79939468, 276.99597675, 195.57624698, 380.7237586 ,
       343.65044995, 219.78143209, 240.33381734, 164.2734735 ,
       221.88672032, 339.77851181, 297.25896204, 244.14159306,
       264.75085158, 259.92911134, 327.01208798, 104.56402881,
       155.97712676, 297.85574146, 219.56778684, 242.19971035,
       256.36442825, 273.19491912, 173.20295073, 204.42251088,
       221.36215355, 148.01097829, 205.59347181, 198.51057844,
       298.62745015, 194.36510763, 200.17596479, 192.9092388 ,
       359.26295735, 183.03322695, 260.74558161, 205.97018859,
       236.06362478, 321.43914328, 214.29081851, 186.85556219,
       199.30037896, 218.83848989, 177.42053706, 234.44807603,
       213.13806427, 284.64951402, 220.01595509, 186.76471714,
       243.80088461, 257.06159914, 203.98107041, 162.13104559,
       244.51740279, 211.78703514, 408.08812014, 275.06586247,
       274.5739039 , 188.76032646, 259.2951198 , 339.77851181,
       230.10483977, 277.71413167, 295.23254037, 244.49389099,
       348.0307122 , 297.8732275 , 212.52008545, 205.03519089,
       219.16529485, 359.0128034 , 203.70076133, 334.0207028 ,
       240.22557627, 193.80242137, 191.96640307, 241.61097129,
       199.77646481, 146.29426313, 123.21608386, 195.32613444,
       220.36834322, 342.39280382, 321.50985327, 276.63791512,
       498.66539522, 245.03861965, 286.69455711, 271.24622833,
       238.86028534, 204.41754184, 237.232257  , 276.82120697,
       325.42500076, 359.26295735, 212.75752875, 326.83929565,
       280.05454994, 193.49129274, 297.66356833, 264.25224884,
       303.09636763, 315.89033613, 205.9849981 , 264.41532773,
       263.40952005, 219.88663431, 183.01227979, 205.91904157,
       324.58408094, 253.76270566, 127.60733019, 263.52342504,
       226.30998858, 278.90591836, 264.16896473, 368.77346161,
       365.09421081, 212.52868807, 363.62777403, 183.02337858,
       234.67913656, 187.98127507, 267.68524256, 317.5273485 ,
       228.25976808, 289.54015511, 226.35066832, 278.37972033,
       310.96742219, 241.92050454, 219.44426833, 254.5674755 ,
       263.46283968, 186.27155041, 261.27644793, 169.16477785,
       174.15263607, 104.56402881, 219.49596432, 245.41600972,
       164.34473127, 219.35391076, 176.80099205, 234.45147096,
       332.54753155, 252.38868684, 182.7271866 , 229.05674507,
       155.97712676, 234.98376087, 286.54041895, 278.74406937,
       211.73529729, 219.22389343, 236.77931315, 303.59179333,
       250.77120721, 242.10739397, 195.11470788, 274.59355553,
       200.62780037, 186.56809781, 199.72446848, 182.07639336,
       205.86410436, 186.79806758, 234.91270508, 199.09616873,
       320.25025993, 310.90102863, 215.36344189, 250.51257115,
       203.89231674, 200.83847792, 274.04928731, 271.32029544,
       227.4298303 , 194.34660155, 303.40861922, 326.61080016,
       308.33788764, 277.90156215, 211.7872966 , 256.76138916,
       347.47729468, 432.88282794, 253.48774722, 228.93423687,
       174.44443508, 281.83946016, 252.19829695, 245.464739  ,
       183.13619834, 194.05540164, 178.32247273, 253.78105273,
       243.08890055, 185.60884256, 194.36510763, 279.53295624,
       169.0722307 , 273.15933713, 295.6738131 , 255.29559805,
       205.01540534, 186.60351782, 221.58249364, 303.40861922,
       221.1178982 , 286.75943885, 177.55045759, 264.7646492 ,
       250.78924643, 302.42494505, 327.81245057, 304.50091928,
       253.14786023, 173.66594649, 177.42053706, 288.10511098,
       276.63791512, 321.93196165, 194.22529364, 220.00832051,
       348.56719893, 302.01033148, 304.2901236 , 434.10779263,
       174.73816442, 276.78957595, 234.90198454, 416.18909223,
       255.31978964, 321.743065  , 289.21081908, 186.68062673,
       322.95799691, 174.82871879, 181.86416936, 180.80136932,
       383.50473163, 212.90185393, 263.70431748, 229.29320812,
       180.80228742, 228.56294243, 284.59668688, 193.72623833,
       304.50091928, 433.58290692, 277.69314161, 233.82219317,
       173.85812605, 251.00154036, 229.26517515, 221.15536091,
       133.04727666, 286.75943885, 169.68212515, 403.55526956,
       186.86374414, 178.07348156, 162.08471932, 261.57134775,
       227.00045907, 315.83655765, 284.45877728, 261.05514576,
       168.85602336, 313.75910533, 217.65897045, 199.70907884,
       194.05540164, 302.28319735, 398.82428364, 225.49943834,
       227.15244868, 219.83404654, 303.33849587, 253.31601367,
       199.94288878, 212.51059893, 226.83311671, 193.61341128,
       234.57008868, 267.61148689, 232.60790582, 163.85042299,
       296.65622924, 198.53369348, 242.70593067, 342.29591818,
       204.67359797, 183.60007613, 329.2304151 , 338.08145182,
       200.13923126, 243.52221282, 204.79241627, 274.01417807,
       276.6448824 , 326.61080016, 206.59478058, 311.42268144,
       252.42536168, 229.19205049, 346.79387981, 159.25228461,
       253.53067   , 207.1344696 , 244.51740279, 163.81754907,
       192.97059433, 316.7798423 , 243.81060414, 232.07892467,
       117.09451898, 342.29591818, 205.23010715, 323.94828149,
       343.29439524, 254.40880872, 279.23862935, 298.65910745,
       193.35353228, 251.00154036, 174.59027813, 416.40589547,
       361.33796441, 245.05318525, 195.22881543, 219.30420329,
       332.78593399, 155.3697088 , 254.97050142, 255.22594581,
       242.60853071, 342.80317814, 232.40965439, 292.8521578 ,
       241.66255078, 210.88611362, 299.04695096, 245.91756505,
       217.08588164, 312.83375031, 186.39720521, 234.54314208,
       313.75910533, 213.81973482, 200.09980389, 176.97781553,
       251.95745311, 271.26032876, 328.15619923, 220.15257825,
       195.14714051, 261.7021956 , 262.47574214, 297.05038735,
       277.11951103, 260.43347874, 275.94351299, 282.85189054,
       220.33918538, 254.07536911, 241.02688519, 297.44011501,
       361.87077923, 303.17274482, 347.61159758, 261.20995645,
       163.85042299, 210.70516771, 252.72152066, 200.88052938,
       229.05461409, 216.96103725, 283.07374587, 304.2901236 ,
       211.39810206, 232.85238678, 205.37212583, 262.26801907,
       331.36141579, 168.98869175, 324.79359957, 321.50985327,
       229.3653053 , 205.00965158, 301.31727119, 308.41411441,
       186.4338828 , 298.04019482, 169.0921334 , 290.75745717,
       251.79894408, 177.64144253, 217.99431712, 241.92573608,
       242.35638318, 359.34621244, 254.20056239, 229.02452974,
       259.87515474, 180.78898082, 248.65737343, 211.51661824,
       275.11140578, 242.48916581, 290.39798353, 242.07560446,
       275.54195356, 242.24504903, 186.57624641, 284.58638677,
       350.2702252 , 291.80014663, 186.65351733, 204.22510009,
       349.81116411, 283.11804399, 198.60930572, 188.4999195 ,
       339.23390584, 250.44940808, 283.73824687, 311.71068611,
       235.19551333, 276.26736098, 243.1256083 , 285.33266361,
       247.50722245, 256.17219791, 343.84296704, 220.43555993,
       278.56763607, 164.31539128, 251.20531875, 301.34740941,
       320.28159195, 199.06305422, 218.75226766, 300.84849383,
       211.78703514, 182.89471525, 225.58027433, 226.85615605,
       234.74169474, 316.70014134, 342.91327971, 221.58249364,
       283.87943069, 193.86875505, 237.43491308, 240.57070941,
       206.75516734, 260.12226188, 302.45106138, 128.40543941,
       211.26899916, 140.04963708, 210.19042141, 328.84359205,
       285.18824383, 169.29464746, 324.78526389, 212.44367083,
       277.68205723, 220.16293777, 328.66436407, 177.69544967,
       260.92370433, 250.46943049, 349.42798713, 229.45332407,
       117.09451898, 265.63238365, 282.91828342, 228.32039596,
       358.68702779, 177.57076974, 162.05728617, 273.60087511,
       262.9171863 , 204.11259449, 315.69057818, 333.14439911,
       236.50839252, 324.12625746, 203.93207767, 433.09963119,
       299.25685603, 219.17680518, 212.06550186, 193.29516854,
       188.38069932, 259.66823317, 276.26736098, 309.40740875,
       296.33089149, 289.387141  , 219.30420329, 352.58500303,
       200.43781877, 264.84627869, 205.74568356, 311.788265  ,
       297.34927484, 240.34997018, 332.72536678, 276.26736098,
       211.9234805 , 138.36981351, 217.39764754, 264.51605815,
       177.76895998, 241.25164546, 258.15747474, 220.00832051,
       277.26984866, 168.84384855, 219.66887414, 344.06920153,
       261.70569295, 299.27339417, 279.17968418, 264.98926891,
       340.34137065, 407.56234374, 272.96403324, 343.30975558,
       219.15848592, 193.31250199, 284.55844824, 330.87027112,
       264.73049138, 212.63037001, 204.86764723, 380.54045843,
       274.62979965, 252.64356547, 205.75047143, 284.4316437 ,
       254.29721206, 327.20048815, 193.08404868, 217.33034685,
       241.39204561, 377.70387681, 313.73958238])

In [25]:
mean_absolute_error(Y_test.values.reshape(-1, ), pred)

2.3741065983061147

#### Using LDA (Experiment)

In [26]:
X_transformed = data_pipeline.fit_transform(X_train).toarray()
Y_transformed = Y_train.values.reshape(-1, )

In [27]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [28]:
lda = LinearDiscriminantAnalysis()

In [29]:
lda.fit(X_transformed, Y_transformed)

LinearDiscriminantAnalysis()

In [30]:
lda_var_ratios = lda.explained_variance_ratio_

In [31]:
# Create a function
def select_n_components(var_ratio, goal_var: float) -> int:
    # Set initial variance explained so far
    total_variance = 0.0
    
    # Set initial number of features
    n_components = 0
    
    # For the explained variance of each feature:
    for explained_variance in var_ratio:
        
        # Add the explained variance to the total
        total_variance += explained_variance
        
        # Add one to the number of components
        n_components += 1
        
        # If we reach our goal level of explained variance
        if total_variance >= goal_var:
            # End the loop
            break
            
    # Return the number of components
    return n_components

In [32]:
select_n_components(lda_var_ratios, 0.99)

16

In [33]:
def convert_sparse_to_array(x):
    return x.toarray()

In [34]:
conv_spars_2_array_fn = FunctionTransformer(convert_sparse_to_array)

In [35]:
lda_model_pipeline = Pipeline([
    ('scaling', data_pipeline),
    ('convert_sparse_to_array', conv_spars_2_array_fn),
    ('lda', LinearDiscriminantAnalysis(n_components=30)),
    ('model', LGBMRegressor(random_state=0))
])

In [36]:
lda_model_pipeline.fit(X_train, Y_train.values.reshape(-1, ))

Pipeline(steps=[('scaling',
                 ColumnTransformer(transformers=[('numerical',
                                                  Pipeline(steps=[('std_scaler',
                                                                   PowerTransformer())]),
                                                  ['Engine Size(L)',
                                                   'Fuel Consumption City '
                                                   '(L/100 km)',
                                                   'Fuel Consumption Hwy '
                                                   '(L/100 km)',
                                                   'Fuel Consumption Comb '
                                                   '(mpg)']),
                                                 ('categorical',
                                                  Pipeline(steps=[('one_hot_encoder',
                                                                   OneHotEncoder(categories=[array(['ACURA', 'ALFA ROMEO', 'ASTON MART...
       'AV', 'AV10', 'AV6', 'AV7', 'AV8', 'M5', 'M6', 'M7'], dtype=object),
                                                                                             array(['D', 'E', 'N', 'X', 'Z'], dtype=object)],
                                                                                 handle_unknown='ignore'))]),
                                                  ['Make', 'Vehicle Class',
                                                   'Cylinders', 'Transmission',
                                                   'Fuel Type'])])),
                ('convert_sparse_to_array',
                 FunctionTransformer(func=<function convert_sparse_to_array at 0x7f7cfa079940>)),
                ('lda', LinearDiscriminantAnalysis(n_components=30)),
                ('model', LGBMRegressor(random_state=0))])

In [37]:
pred = lda_model_pipeline.predict(X_test)

In [38]:
mean_absolute_error(Y_test.values.reshape(-1, ), pred)

1.8801321096470345

In [39]:
import joblib

In [40]:
joblib.dump(lda_model_pipeline, r'../artefacts/lda_model_pipeline.pkl')

['../artefacts/lda_model_pipeline.pkl']

In [42]:
lda_model_pipeline.predict(X_test.iloc[0:1,:])

array([240.35853866])

In [45]:
type(X_test.iloc[0:1,:].values)

numpy.ndarray